<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="STI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="STI_ImaginSource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.Platform.NetStandard" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.4077" newVersion="4.4.0.4077" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <STI.Properties.Settings>
      <setting name="frames" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Units" serializeAs="String">
        <value>mm</value>
      </setting>
      <setting name="EUFactor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Format" serializeAs="String">
        <value>3x3</value>
      </setting>
      <setting name="minBlobObjects" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="alpha" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="GridType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ROI_Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ROI_Bottom" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ROI_Left" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ROI_Right" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="maxOvality" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="maxCompacity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="maxDiameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="minDiameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="productCode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Valor" serializeAs="String">
        <value>0</value>
      </setting>
    </STI.Properties.Settings>
    <STI_ImaginSource.Properties.Settings>
      <setting name="frames" serializeAs="String">
        <value>0</value>
      </setting>
    </STI_ImaginSource.Properties.Settings>
  </userSettings>
</configuration>
